<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348905133230-jrlk41snr00ipu8up9h2tkl1k630ea88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348905133230-jrlk41snr00ipu8up9h2tkl1k630ea88</string>
	<key>API_KEY</key>
	<string>AIzaSyDW79ZyAfj2q2xSFR3V17cjUJIEDh2_kuE</string>
	<key>GCM_SENDER_ID</key>
	<string>348905133230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilgi.iteeth</string>
	<key>PROJECT_ID</key>
	<string>i-teeth</string>
	<key>STORAGE_BUCKET</key>
	<string>i-teeth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348905133230:ios:fe510763a69342f6ce493f</string>
</dict>
</plist>